.c-banner {
  width: 100%;
  height: 280px;
  
  &__services,
  &__testimonials  {
    background: url(/static/banner/banner1.jpg);
  }

  &__sectors,
  &__about  {
    background: url(/static/banner/banner2.jpg);
  }

  &__news,
  &__careers {
    background: url(/static/banner/banner1.jpg);
  }

  &__services--decorative,
  &__services--specialist {
    background: url(/static/banner/banner3.jpg);
  }
  &__services--paintspray,
  &__services--painting {
    background: url(/static/banner/banner4.jpg);
  }
  &__services--cladding,
  &__services--plastering {
    background: url(/static/banner/banner5.jpg);
  }

  &__sectors--education,
  &__sectors--retail  {
    background: url(/static/banner/banner6.jpg);
  }
  &__sectors--industrial,
  &__sectors--office  {
    background: url(/static/banner/banner7.jpg);
  }

  &__image {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(50%);
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 280px;
    text-align: center;
  }

  &__title {
    font-size: 24px;
    color: $white;

    h2 {
      font-weight: 400;
      word-spacing: 5px;
      letter-spacing: 5px;
      text-transform: uppercase;
      text-shadow: black 1px 0 10px;
    }

    &--services,
    &--sectors,
    &--testimonials,
    &--about {
      display: none;
    }

    &--line {
      width: 50%;
      margin: auto;
    }
  }
  &__none {
    display: none;
  }
  &__active {
    display: block;
  }
}

@media screen and (min-width: $tablet-break) {
  .c-banner__title {
    font-size: 26px;
  }
}

@media screen and (min-width: $laptop-break) {
  .c-banner__title {
    font-size: 30px;
  }
}