.c-footer-upper {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: auto;
  padding: 1em;
  
  &__list {
    border-bottom: 1px solid $darkgrey;
    padding: .5em 0;

    &--head {
      display: flex;
      justify-content: space-between;
      align-items: center;

      hr {
        display: none;
      }

      &-title {
        color: $white;
        font-weight: 400;
        font-size: 18px;
      }

      &-btn {
        color: $white;
        font-size: 18px;
        &:hover {
          cursor: pointer;
        }
      }
    }
    
    &--body {
      display: none;
    }

    &--item {
      padding: .5em 0;
      font-size: 14px;
      font-weight: 100;
      color: $xlightgrey;
      
      &-lineheight {
        line-height: 135%;
      }
      
      a {
        color: $xlightgrey;
      }

      &__news-article {
        display: grid;
        grid-template-columns: 40px auto;
        grid-gap: 1em;
        color: $xlightgrey;

        &--main {
          &__title {
            font-size: 14px;
          }
          &__body {
            font-weight: 100;
            font-size: 14px;
          }
        }
       
        &--date {
          border: 3px solid $lightgrey;
          width: 40px;
          height: 40px;
          text-align: center;
          align-items: center;
          display: flex;
          &__item {
            position: relative;
            font-size: 12px;
            font-weight: 100;
            color: $white;
          }
        }
      }
    }
  }
}

.footer-item-active-flex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer-item-active {
  display: block;
}

.active {
  display: block;
}

@media screen and (min-width: $tablet-break) {
  .c-footer-upper {
    display: grid;
    grid-template-columns: 25% 40% 30%;
    grid-gap: 1em;

    &__list {
      border: none;

      &--head {
        align-items: flex-start;
        flex-direction: column;
        
        &-title {
          font-size: 19px;
        }

        hr {
          display: block;
        }
  
        &-btn {
          display: none;
        }
      }
      
      &--body {
        display: block;
      }

      &--item {
        font-size: 16px;

        &__news-article {
          grid-gap: .5em;
        }
      }
    }
  }

  .c-footer-inner__list {
    max-width: 1000px;
    margin: auto;
    padding-top: .5em;
    &--body {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .inner-item {
        padding: .5em;
      }

      .inner-item:first-child {
        padding-left: 0;
      }
    }
  }
}

@media screen and (min-width: $desktop-break) {
  .c-footer-upper {
    padding: 1em 0;
    grid-template-columns: 25% 40% 35%;
  }
}