.c-nav {
  background: linear-gradient($dark, transparent);
  width: 100%;
  z-index: 10;
  position: relative;

  &-home {
    position: absolute;
  }

  &__scroll-down {
    position: fixed;
    top: 0;
    animation: fadeIn ease-in-out 0.5s;
  }
}

.c-navbar {
  height: 65px;
  position: relative;
  width: 100%;
  max-width: 1000px;
  z-index: 9;
  justify-content: center;

  &__logo {
    position: absolute;
    left: 1em;
    top: 50%;
    width: 200px;
    transform: translate(0%, -50%);
    display: grid;
    grid-template-columns: 60px auto;

    &--hero {
      width: 50px;
      height: 50px;
    }
  }

  &__actions {
    display: none;
  }

  &__action-link {
    padding: 0 .5em;
  }

  &__burger {
    position: absolute;
    cursor: pointer;
    right: 1em;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 9;
    display: flex;
    flex-direction: column;

    &-line--top,
    &-line--bottom {
      transition: all 0.2s ease-in-out;
      width: 30px;
      height: 2px;
      background: $white;
      margin: 4px;
    }

    &-line--middle {
      transition: all 0.2s ease-in-out;
      width: 15px;
      height: 2px;
      background: $white;
      margin: 4px;
      align-self: flex-end;
    }

    &-line--bottom {
      width: 25px;
      align-self: flex-end;
    }

    &-top {
      width: 25px;
      transition: all 0.3s ease-in-out;
      transform: rotate(-140deg) translateY(-11px) translateX(-7px);
    }
    &-middle {
      transition: all 0.3s ease-in-out;
      opacity: 0;
    }
    &-bottom {
      transition: all 0.3s ease-in-out;
      transform: rotate(140deg) translateY(6px) translateX(-3px);
      width: 25px;
    }
  }
  
  &__links {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    position: fixed;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    left: 100vw;
    transition: all .5s ease-out;
    z-index: 6;

    .fas {
      color: $white;
      font-size: 20px;
      font-weight: 700;
    }
  }

  &__link { 
    opacity: 0;
    padding: 1.5em;

    a {
      color: $white;
      font-size: 20px;

      &:hover {
        color: $xlightgrey;
      }
    }

    &:nth-child(1) {
      transition: all 0.5s ease 0.2s;
      padding-top: 3em;
    }
    &:nth-child(2) {
      transition: all 0.5s ease 0.4s;
    }
    &:nth-child(3) {
      transition: all 0.5s ease 0.6s;
    }
    &:nth-child(4) {
      transition: all 0.5s ease 0.8s;
    }
    &:nth-child(5) {
      transition: all 0.5s ease 1s;
    }
    &:nth-child(6) {
      transition: all 0.5s ease 1.2s;
    }
    &:nth-child(7) {
      transition: all 0.5s ease 1.4s;
    }
    &:nth-child(8) {
      transition: all 0.5s ease 1.6s;
    }
  }

  .fade {
    opacity: 1;
  }

  &--open {
    top: 0;
    left: 0vh;
    pointer-events: all;
    background: $dark;
  }
}

@media screen and (min-width: 550px) {
  .c-navbar {
    height: 75px;

    &__logo--hero {
      width: 60px;
      height: 60px;
    }
  }
}


@media screen and (min-width: 1000px) {
  .c-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0 1em;

    &__logo {
      position: relative;
      left: auto;
      top: auto;
      transform: none;
    }

    &__burger {
      display: none;
    }

    &__links {
      position: relative;
      width: auto;
      height: 75px;
      flex-direction: row;
      clip-path: none;
      -webkit-clip-path: none;
      transition: none;
      align-items: auto;
      margin-left: 0;
      left: auto;
    }

    &__link {
      opacity: 1;
      padding: 0 1em;

      a {
        font-size: 18px;
        cursor: pointer;
      }

      &:nth-child(1) {
        transition: none;
        padding-top: 0;
      }
      &:nth-child(2) {
        transition: none;
      }
      &:nth-child(3) {
        transition: none;
      }
      &:nth-child(4) {
        transition: none;
      }
      &:nth-child(5) {
        transition: none;
      }
      &:nth-child(6) {
        transition: none;
      }
      &:nth-child(7) {
        transition: none;
      }
      &:nth-child(8) {
        transition: none;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
}

@media screen and (min-width: 1200px) {

  .c-navbar {
    padding: 0;
  }
}