.c-service-sector--grid {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 2em;
  position: relative;
  margin-bottom: 2em;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;
    height: 350px;

    &--title {
      h2 {
        color: $darkgrey;
        font-size: 22px;
        font-weight: 400;
      }
    }

    &--image {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 230px;
    }
    
    &--footer {
      h4 {
        text-transform: uppercase;
        color: $lightgrey;
        font-weight: 100;
      }
    }
  }
}

@media screen and (min-width: $tablet-break) {
  .c-service-sector--grid {
    grid-template-columns: auto auto;
    grid-gap: 2em 1em;
  }
}
@media screen and (min-width: $laptop-break) {
  .c-service-sector--grid {
    grid-gap: 3em 2em;
  }
}