.c-services-brands {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 2em;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;

    &--image {
      img {
        width: 250px;
        height: 150px;
      }
    }

    &--footer {
      text-align: center;
      color: $lightgrey;
      
      p {
        font-weight: 100;
      }
    }
  }
}

@media screen and (min-width: 815px) {
  .c-services-brands {
    grid-template-columns: auto auto auto;
    grid-gap: 2em 1em;
  }
}