.c-form__container {
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.c-form__message {
  display: none;
}

.c-signup {
  &__form {
    color: $white;
    margin-bottom: 6em;
    width: 250px;
    
    &--field {
      padding: 1em 0;

      &-label {
        font-size: 50px;
        line-height: 60px;
      }
 
      &-input {
        width: 100%;
        padding: 6px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        resize: vertical;
        margin: 1em 0;
      }
    }

    &--submit {
      &-btn {
        cursor: pointer;
        background: $button;
        border-radius: 20px;
        padding: .5em 2em;
        font-size: 14px;
        color: white;
        position: relative;
        border: none;
        margin: auto;
      }
    }
  }
}


@media screen and (min-width: 920px) {

  .c-form__container {
    max-width: 750px;
    margin: auto;
    display: grid;
    grid-template-columns: 260px auto;
    grid-column-gap: 3em;
    justify-content: flex-start;
    text-align: left;
  }

  .c-form__message {
    display: block;
    color: $white;
    margin-bottom: 6em;

    p {
      font-size: 24px;
      line-height: 1.5;
      word-spacing: 4px;
      letter-spacing: 1px;
    }
  }

  .c-signup {
    &__form {
      margin-bottom: 7em;

      &--field {
        &-label {
          font-size: 50px;
          font-weight: 800;
        }
   
        &-input {
          padding: 8px;
        }
      }
  
      &--submit {
        display: block;
        
        &-btn {
          font-size: 16px;
        }
      }
    }
  }
}