.c-testimonialcarousel {
  color: $darkgrey;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
    .slick-prev:before,
    .slick-next:before {
      color: $button;
      font-size: 26px;
    }

    .slick-next {
      right: 50px !important;
    }
    .slick-prev {
      left: 50px !important;
    }
    .slick-slider {
      height: 250px;
    }
    .slick-track {
      display: flex;
    }
    &--title {
      margin: auto;
      max-width: 800px;
      text-align: center;
      padding: 2em;
      font-size: 16px;
      font-weight: 800;
      text-transform: uppercase;
    }
    &__inner {
      max-width: 800px;
      margin: auto;
    }

    &__data {
      display: flex;
      flex-direction: column;
      position: relative;
      &--text {
        display: flex;
        p {
          font-size: 26px;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          line-height: 30px;
          overflow: hidden;
          text-align: center;
        }
      }
      &--text::before {
        content: open-quote;
        font-size: 100px;
        line-height: 70px;
        color: $button;
      }
      &--text::after {
        content: close-quote;
        align-self: flex-end;
        font-size: 100px;
        line-height: 20px;
        color: $button;
      }
      &--info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        &-hero {
          height: 90px;
          width: 90px;
          position: relative;
          padding: .5rem;
          img {
            object-fit: scale-down;
            height: 100%;
            width: 100%;
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
          }
        }
        &-name {
          display: flex;
          flex-direction: column;
          padding: .5rem;
          li {
            padding: 5px 0;
          }
          &__date {
            color: $success;
            font-size: 12px;
          }
        }
      }
    }
}

@media screen and (max-width: 425px) {
  .c-testimonialcarousel {
    .slick-slider {
      height: 250px;
    }
    &__data {
      &--text {
        p {
          font-size: 22px;
          line-height: 26px;
        }
      }
      &--text::before {
        font-size: 80px;
        line-height: 50px;
      }
      &--text::after {
        font-size: 80px;
        line-height: 30px;
      }
      &--info {
        margin: auto;
        flex-direction: row;
        &-hero {
          height: 65px;
          width: 65px;
        }
        &-name {
          max-width: 215px;
        }
      }
    }
  }
}