// bootstrap default 

$primary: #007BFF;
$secondary: #6C757D; 
$danger: #DC3545;
$success: #28A745;
$warning: #FFC108;

// app default

$xlightgrey: #EEEEEE;
$lightgrey: #888789;
$darkgrey: #555555;
$dark: #2B282E;
$white: #FFFFFF;
$orange: #D18C00;

// name specific

$header-font: #F89600;

$button: #3578E5;

// media breakpoints

$mobile-break: 600px;
$tablet-break: 760px;
$laptop-break: 1020px;
$desktop-break: 1200px;
