* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;;
  box-sizing: border-box;
  list-style: none;
  word-spacing: .2rem;
}

body {
  font-weight: 400;
}
textarea:focus, input:focus{
  outline: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $lightgrey;
}

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.slick-arrow {
    z-index: 9;
}

.display-footer-item {
  display: none;
}
.remove-footer-item {
  display: block;
}

.hidden{
  overflow: hidden;
}


.services {
  &--decorative-coatings {
    background: url("/static/services/decorative-wall.jpg");
  }
  &--protective-coatings {
    background: url(/static/services/protective-covering.jpeg);
  }
  &--painting {
    background: url(/static/services/painting.jpg);
  }
  &--internal-external-paint-spray {
    background: url(/static/services/spraypaint.jpg);
  }
  &--cladding-restoration {
    background: url(/static/services/cladding.jpg);
  }
  &--rendering-plastering {
    background: url(/static/services/plastering.jpeg);
  }
}

.sectors {
  &--retail {
    background: url(/static/sectors/retail.jpg);
  }
  &--factories {
    background: url(/static/sectors/factories.jpg);
  }
  &--schools {
    background: url(/static/sectors/schools.jpg);
  }
  &--offices {
    background: url(/static/sectors/offices.jpg);
  }
}

@media screen and (min-width: $tablet-break) {
  .remove-footer-item {
    display: none;
  }
  .display-footer-item {
    display: block;
  }
}
